 /* hi there */
/* css reset */
*{
margin: 0;
color:white;
padding: 0;
text-align: center;
font-family: Consolas;
box-sizing:border-box;
}
#sketch-holder{

  cursor:cell;
}
/* ==== BODY ==== */
body {
  /* violet*/
background-color: #af30ff;
}

h1{
font-size: 50px;
}

h4{
  background-color:white;
}

h5{

  padding:20px;
  text-indent:30px;
  text-align:left;
 color:black;
  background-color:white;
  font-size:14px;
  font-family: Times New Roman;
}

h6{
  /* violet*/
background-color: #af30ff;
  font-size:25px;
  text-indent:25px;
}
p{
margin-bottom:20px;
line-height: 30px;
}
a:link{
  /* pink */
text-indent:0px;
display:inline-block;
text-decoration: none;
padding:0px 10px;
background-color: #ff317d;
}
a:visited{

}
a:hover{
  /* light pink */
  background-color: #ff5996;
/*  color:black;*/
}
/* ==== NAV ==== */

nav, header{
  opacity:0.85;
}
nav{
box-shadow: 10px 10px 5px grey;
position:fixed;
font-weight:bold;
font-size:25px;
height:40px;
top:135px;
padding:7px;
/* pink */
background-color: #ff317d;
}


/* ==== HEADER ==== */

header{
  /*green*/
  box-shadow: 10px 0px 5px grey;
  position:fixed;
  height:135px;
  top:0px;
background-color: #a3ff32;
font-size: 30px;
}
header h3{
  font-weight:normal;
  padding:3px;
  font-size:26px;
  /*orange*/
background-color: #ffb53f;

}
header h1{
font-size:75px;
padding:3px;
 /* blue */
background-color: #3da9db;
}

/* ==== ARTICLE ==== */

article h1{
 /* turquoise */
background-color: #30ffb0;
}
article h2{
  /*orange*/
background-color: #ffb53f;
font-size: 25px;
}
article h3{
  /* blue */
 background-color: #3da9db;
 font-size: 25px;
}
article h4{
  line-height:45px;
  padding: 20px;
  font-size:30px;
  background:white;
  height:208px;
  text-align:right;
  /* pink */
color: #ff317d;
}
article a:link{

display:inline-block;
text-decoration: none;
margin:5px;
padding:0px 10px;
/* pink */
background-color: #ff317d;
}
article a:visited{

}
article a:hover{
  /* light pink #ff5996 */
  background-color: white;
  /* pink */
color:#ff317d;
}




/* ==== FOOTER ==== */



footer{
  /* yellow  */
  font-size:11px;
background-color: #fffb30;
}
