@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{

  margin:0;
	padding:0;
	box-sizing:border-box;
}
html, body{
  background-color: grey;
 width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content:space-around;


}
section{
  /* padding:1vh 5vw;  */
  display: flex;
  height:40%;
  flex-flow: row nowrap;
  font-family: 'Quicksand', sans-serif;
}
div{
  /* padding:10px;   */
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 100%;
justify-content: space-evenly;
    text-align: center;
}




section button, article{
  width: 100%;
  text-align: center;
}
button{
  font-size:6vmin;
  background-color: blue;
  height: auto;
  border-radius:1vw;
}
#clocksection{
  font-size:6vmin;
  flex-basis: 50%;
}
#topsection{
  font-size:8vh;
  padding-top:5vh;
  flex-basis: 20%;
}
#menusection{
  display: flex;
  flex-direction:column;
  justify-content:center;
flex-basis: 30%;

}
#sketchsection{
  width:100%;
}

/* Round Corners */
.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.hvr-round-corners:hover {
  border-radius: 1em;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
#display_me{
height:100%;
  width:100%;
  border-radius:3vw;
	opacity:0;
	transition: all .5s;
/*	position:fixed  */
  border-radius: 10px;
/*  background: #333; */
  font-size: 2vmin;
  font-family: Arial;
  display:flex;
  flex-flow:row wrap;
}

nav{

  height:100%;
  width:100%;

}

#trigger{
  width:20%;
  font-size:3vh;
}

.menuarticle{
height:100%;
width:33.33333%;
padding:10px;
color:white;
background-color:blue;
border-radius:2vw;
}
